<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>How it works</title>
    <link href="../static/css/info.css" th:href="@{/css/info.css}" rel="stylesheet"/>
</head>
<body>
<div class="results">
    <video autoplay loop class="results-background-video" muted playsinline>
        <source src="videos/background-video.mp4" type="video/mp4">
    </video>
    <div class="results-window">
        <h2 class="results-window-title">How it works</h2>
        <p class="results-text">It is an online library when you can book a book. At first, find a book and fill the form. We will prepare a book for you.</p>
        <p class="results-text">After that you can go to our library and take this book. You can use the book for 30 days and after have to return it, or you will get a fine.</p>
        <p class="results-text">Before you go to return a book, please, fill the form again and come on the same day to the library.</p>
        <p class="results-text">It will help you to understand before that do you have a fine or not.</p>
        <p class="results-text">If you lost a book, we have the form for that too which will tell you how much do you have to pay for this book.</p>
        <p class="results-text">Thank you for using our app!</p>
        <p class="results-sources">We also used background video on our website from stock (link: Stock footage provided by <a class="link author-link-popup" target="_blank" href="https://www.videvo.net/profile/videvo">Videvo</a>, downloaded from <a class="videvo-redirect" target="_blank" href="https://www.videvo.net">videvo.net</a>)</p>
    </div>
</div>
</body>
</html>