<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Library</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
</head>
<body>
  <div class="header">
    <video autoplay loop class="header-background-video" muted playsinline>
      <source src="videos/background-video.mp4" type="video/mp4">
    </video>
    <nav>
      <div class="header-logo">Library</div>
      <ul class="header-nav-links">
        <li><a href="get">Get book</a></li>
        <li><a href="return">Return book</a></li>
        <li><a href="lost">Lost book</a></li>
        <li><a href="info">How it works</a></li>
      </ul>
    </nav>
    <div class="header-content">
      <h1>Use Library online</h1>
    </div>
  </div>
</body>
</html>